@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  
  }
} */

@layer base {
  body { 
  @apply bg-zinc-950 text-slate-200 tracking-wide
} 
html{
  scroll-behavior: smooth;
}
h1, h2, h3, h4, h5 {
  @apply font-bold
}
h1{
  @apply text-4xl sm:text-5xl md:text-6xl
}
h2{
  @apply text-3xl sm:text-4xl
}
li{
  @apply cursor-pointer
}
button{
  @apply shadow-xl shadow-slate-800 rounded-xl uppercase bg-gradient-to-tr from-blue-600 to-purple-800 hover:from-orange-500 hover:to-red-600
}
}